@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 4pt;
  background-color: transparent;
}


::-webkit-scrollbar-thumb {
  background-color: #3262fa55;
  border-radius: 100px;
}